.testimonialcontainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.previous {
  transform: scaleX(-1);
}
.user1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
}
.uimage {
  width: 100%;
  height: auto;
}
.tuserdesc {
  width: 60%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  color: #6a6b82;
  margin-bottom: 4rem;
}
.previous:hover,
.next:hover {
  background-color: orange;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  .testimonialcontainer {
    width: 95%;
  }
  .tuserdesc {
    width: 95%;
    margin-bottom: 1rem;
  }
}
